---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Games | 2048' description='A 2048 clone.'>
  <main>
    <div id='sketch' class='flex items-center justify-center'></div>

    <h1 id='status' class='hidden'>Game Over</h1>

    <div class='flex items-center justify-center'>
      <span>Score:</span>
      <span id='score'>0</span>
    </div>

    <div class='flex items-center justify-center'>
      <button id='b1'>New Game</button>
    </div>
  </main>

  <script src='./js/app.ts'></script>
</Layout>
